<form class="row contact_form" action="{%url 'accounts:login' %}" method="post" novalidate="novalidate">
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{next}}">
    {% endif %}
    <div class="col-md-6 form-group p_star">
        {{ form.as_table }}
    </div>
    <div class="col-md-12 form-group">
						<button type="submit" value="submit" class="btn submit_btn">Login To Continue</button>
						<div class="creat_account">
							<input type="checkbox" id="f-option" name="selector">
							<label for="f-option">Remember me</label>
						</div>
						<a class="lost_pass" href="#">Lost your password?</a>
					</div>
</form>
